.advantages {
  color: $tangaroa;
  background-color: $solitude;
  background-image: url("../img/background/background-advantages-desktop.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/background/background-advantages-desktop@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/background/background-advantages-tablet.jpg");

    @include retina {
      background-image: url("../img/background/background-advantages-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/background-advantages-mobile.jpg");

    @include retina {
      background-image: url("../img/background/background-advantages-mobile@2x.jpg");
    }
  }
}

.advantages__container {
  padding-top: 109px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-bottom: 64px;
  }
}

.advantages h2,
.advantages__header {
  margin: 0;
  padding-bottom: 49px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: $tangaroa;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__item h3,
.advantages__advantage-header {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 9px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: $tangaroa;

  @include vp-767 {
    width: 170px;
  }
}

.advantages__item p,
.advantages__advantage-description {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $tangaroa;
}

.advantages__item p + .advantages__item p,
.advantages__advantage-description + .advantages__advantage-description {
  padding-top: 10px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  background-color: $alice-blue;
  background-position: top 30px left 30px;
  background-size: auto 32px;
  background-repeat: no-repeat;
  padding: 69px 30px 45px;

  @include vp-1023 {
    padding: 58px 16px 20px 20px;
    background-position: top 26px left 20px;
    background-size: auto 26px;
  }

  @include vp-767 {
    background-position: top 25px left 20px;
  }
}

.advantages__item--ship svg {
  @include vp-1023 {
    width: 21px;
    height: 26px;
  }
}

.advantages__item--all-in svg {
  @include vp-1023 {
    width: 27px;
    height: 26px;
  }
}

.advantages__item--zodiak svg {
  @include vp-1023 {
    width: 36px;
    height: 26px;
  }
}
