.btn {
  display: flex;
  padding: 14px 46px 15px 47px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $tangaroa;
  justify-content: center;

  background-color: $alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;


  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
