.burger-menu__overlay {
  display: none;
}

.burger-menu--no-script {
  @include vp-767 {
    background-color: $alice-blue;
    color: $tangaroa;
  }
}

.burger-menu--opened {
  @include vp-767 {
    background-color: $alice-blue;
    color: $tangaroa;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    margin-left: 35px;
    padding: 20px 15px;
    align-items: start;
    align-content: start;
    row-gap: 33px;
  }
}

.burger-menu--opened .burger-menu__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: calc(-1 * (clamp(320px, 100vw, 100vw) - 100%));
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: calc(clamp(320px, 100vw, 100vw) - 100%);
  background-color: rgba(0, 43, 102, 0.5);
}

.burger-menu--no-script a {
  @include vp-767 {
    fill: $tangaroa;
  }
}

.burger-menu--opened a {
  @include vp-767 {
    fill: $tangaroa;
  }
}

.burger-menu--no-script .burger-menu__button {
  @include vp-767 {
    display: none;
  }
}

.burger-menu--opened .burger-menu__button {
  @include vp-767 {
    width: 13px;
    height: 13px;
    background-image: url("../img/svg/icon-cross.svg");
  }
}

.burger-menu--closed .burger-menu__list {
  @include vp-767 {
    display: none;
  }
}

.burger-menu--opened .burger-menu__list,
.burger-menu--no-script .burger-menu__list {
  @include vp-767 {
    display: flex;
    color: $tangaroa;
  }
}
