.main-footer {
  min-height: 138px;
  min-width: 320px;
  background-color: $tangaroa;
}

.main-footer__container {
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  grid-template-columns: 70px 1fr minmax(114px, max-content);
  gap: 40px;

  @include vp-1023 {
    grid-template-columns: 38px 1fr minmax(114px, max-content);
    gap: 25px;
  }

  @include vp-767 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.main-footer__logo-link {
  display: flex;
  fill: $alice-blue;
}

.main-footer__logo-link svg {
  width: 70px;
  height: 38px;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.main-footer__navigation {
  justify-self: flex-start;
  margin-top: 1px;
  margin-left: 1px;

  @include vp-1023 {
    margin-top: -1px;
    margin-left: 0;
  }
}
