.map-container__ymap {
  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../img/background/background-map-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include retina {
    background-image: url("../img/background/background-map-desktop@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/background/background-map-tablet.jpg");

    @include retina {
      background-image: url("../img/background/background-map-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/background-map-mobile.jpg");

    @include retina {
      background-image: url("../img/background/background-map-mobile@2x.jpg");
    }
  }
}
