.product-card {
  background-color: $tangaroa;
  color: $quartz;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  position: relative;

  &:hover .product-card__photo-wrapper,
  &:active .product-card__photo-wrapper,
  &:focus-within .product-card__photo-wrapper {
    z-index: -1;
  }
}

.product-card__photo-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 260px;
  min-height: 386px;

  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $top-to-bottom;
  }
}

.product-card__photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card__tour-info {
  box-sizing: border-box;
  min-width: 260px;
  min-height: 386px;
  padding: 28px 25px 15px;

  @include vp-1023 {
    padding: 29px 35px 15px;
  }

  @include vp-767 {
    padding: 29px 25px 15px;
  }
}

.product-card h3,
.product-card__tour-header {
  margin: 0;
  padding-bottom: 13px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $quartz;
}

.product-card__tour-property {
  margin: 0;
}

.product-card h4,
.product-card dt,
.product-card__tour-property-term {
  margin: 0;
  padding-bottom: 1px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $quartz;
}


.product-card p,
.product-card dd,
.product-card__tour-property-description {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $quartz;
}

.product-card dd + dt,
.product-card h4 + p,
.product-card p + p {
  padding-top: 11px;
}

.product-card__tour-button {
  margin: 25px auto 0;
  padding: 10px 16px 9px 17px;
  width: 100%;

  @include vp-1023 {
    padding: 10px 18px 9px 17px;
  }
}

.product-card__photo-wrapper p,
.product-card__photo-label {
  position: absolute;
  bottom: 23px;
  left: 30px;
  width: 210px;
  max-height: 300px;
  overflow: hidden;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  z-index: 2;

  @include vp-1023 {
    bottom: 27px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 17px;
    left: 25px;
  }
}
